@font-face {
    font-family: BebasNeue-Regular;
    src: url(../public/fonts/BebasNeue-Regular.ttf);
  }

* {
    color: aquamarine;
    font-family: BebasNeue-Regular, sans-serif;
}

html {
  background-color: rgb(5, 13, 20);
}