@font-face {
    font-family: BebasNeue-Regular;
    src: url(../public/fonts/BebasNeue-Regular.ttf);
  }
@font-face {
  font-family: Chango-Regular;
  src: url(../public/fonts/Chango-Regular.ttf);
}


* {
    color:#2c3e50;
    font-family: BebasNeue-Regular, sans-serif;
}

html {
  // background-color: rgb(20, 31, 51);
  background-color: #99cccc;
}